body {
    font-family: helvetica;
    line-height: 170%;
}
.gbutton {
    font-size: 1.4em;
    background: #ff0000;
    color: #a60000;
    text-decoration: none;
    padding: 0.4em;
    background: #ff7373;
    border-bottom: 0.2em solid #ff7373;
}
.gbutton:hover {
    color: #fff;
    background: #ff7373;
    border-bottom: 0.2em solid #ff7373;
}
.button-bar {
    padding: 0.5em 0 0 0;
}